/* Définition de la police locale */
@font-face {
    font-family: 'OrdinaireNormal';
    src: url('font/ORDINAIRENORMAL.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Style global du body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: 'OrdinaireNormal', sans-serif;
}

/* Style du header */
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* Style du titre et sous-titre */
header h1 {
    margin: 0;
    font-size: 3em; /* Taille du titre */
    color: #333;
}

header h2 {
    margin: 5px 0 0;
    font-size: 2em; /* Taille du sous-titre */
    color: #666;
}

/* Conteneur principal pour centrer la grille */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre la matrice */
    flex: 1;
    padding: 0 10px; /* Espace latéral */
    box-sizing: border-box;
}

/* Style principal de la grille */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espace uniforme entre les images */
    width: 100%; /* Utiliser toute la largeur */
    height: auto; /* Permet à la grille de s'adapter au contenu */
}

/* Style des conteneurs d'images */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cacher le débordement */
}

/* Style des images */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Contenir l'image sans la couper */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Style du footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* Media Queries pour différentes tailles d'écran */
@media (max-width: 600px) {
    header, footer {
        padding: 10px; /* Ajustement pour les petits écrans */
    }

    header h1 {
        font-size: 2em; /* Ajuster la taille sur mobile */
    }

    header h2 {
        font-size: 1.5em; /* Ajuster la taille sur mobile */
    }

    .wrapper {
        gap: 5px; /* Réduire l'espacement entre les images sur mobile */
    }
}
